<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
  <script src="date.js"></script>
</head>

<body>
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <nav>
    <ul>
      <!-- <li><a href="index.html"><img src="https://dummyimage.com/50x50/000/fff&text=hi" alt="Placeholder wyvern logo" /></a></li> -->
      <li><a href="index.html">Home</a></li>
      <li><a href="subpage">Subpage 1</a></li>
    </ul>
  </nav>

  <div id="container">
    <section>
      {{ content }}
    </section>

    <footer>
      <p>Copyright &copy; 2018 WyvernApp | Last updated
        <script>
          document.write(formatDate(document.lastModified));
        </script>
      </p>
    </footer>
  </div>
</body>

</html>
